<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387287567213-h9clg87sf4jptaehc1m6fj1ptaam036c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387287567213-h9clg87sf4jptaehc1m6fj1ptaam036c</string>
	<key>API_KEY</key>
	<string>AIzaSyA-lOIj7cjRL9ifdEDGTJyeBXRZT5Dqasc</string>
	<key>GCM_SENDER_ID</key>
	<string>387287567213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.jewelchat</string>
	<key>PROJECT_ID</key>
	<string>jewelchat-650db</string>
	<key>STORAGE_BUCKET</key>
	<string>jewelchat-650db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387287567213:ios:5d59ce04bc4ca1b8bc6864</string>
	<key>DATABASE_URL</key>
	<string>https://jewelchat-650db.firebaseio.com</string>
</dict>
</plist>